<%- include ("partials/header.ejs") %>

<h1><%= firstName %>Successfully</h1>
<h3><a href="/logout">Logout</a></h3>
<h3><a href="/products">Add Product</a></h3>
<a href="/">Click here to go back to the home page</a>

<div class="table-wrapper">
    <% if (productDetail.length > 0) {%>
    <table class="table table-hovered">
        <thead class="">
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Barcode</th>
                <th scope="col">User Id</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <% productDetail.forEach((product, index) => { %>
            <tr>
                <th scope="row"><%= product.productId %></th>
                <td>
                    <a href="/product/<%= product.productId %>"
                        ><%= product.productName %></a
                    >
                </td>
                <td><%= product.quantity %></td>
                <td><%= product.barcode %></td>
                <td>@<%= product.userId %></td>
                <td><%= product.description %></td>
                <td>
                    <img
                        src="/img/<%= product.image %>"
                        class="rounded-circle product-img"
                        alt=""
                    />
                </td>
                <!-- <td>
                            <a href="/edit/<%= product.productId %>" target="" rel="noopener">Edit</a>
                            <a href="/delete/<%= product.productId %>">Delete</a>
                        </td> -->
            </tr>

            <% }) %>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <a href="/dashboard/page/<%= page - 1 %>" id="previous">Previous</a>
        </div>
        <div id="page" class="p-2"><%= page %></div>
        <div class="p-2">of</div>
        <div id="pages" class="p-2"><%= pages %></div>
        <div class="p-2">
            <a href="/dashboard/page/<%= Number(page) + Number(1) %>" id="next"
                >Next</a
            >
        </div>
    </div>
    <% } else { %>
    <p>No product found. Go <a href="/products">here</a> to add product.</p>
    <% } %>
</div>

<%- include ("partials/footer.ejs") %>