<%- include ("partials/dashboardheader.ejs") %>


<!-- <h2>Update <%= product.productId %> Product Details</h2> -->

<!-- <pre>
  <%=  JSON.stringify(product) %>
  <%= product.productName %>
</pre> -->

<style>
	div.input {
		display: block;
	}
</style>

<div class="wrapper container">
	<div class="card card-body">
		<h2 class="text-center">Update <%= product.productName %> Product Details</h2>

		<% if (product) { %>
		<div class="row">
			<div class="col-md-6 col-6">
				<button class="float-right btn btn-info" type="submit" onclick="editUpdate()">Update Product</button>
			</div>
			<div class="col-md-6 col-6">
				<form action="/product/<%= product.productId %>?_method=delete" method="POST">
					<!-- <a href="/product/<%= product.productId %>">Delete</a> -->
					<button class="btn btn-danger" type="submit" onclick="deleteProduct()">Delete</button>
				</form>
			</div>
		</div>
		<form action="/product/<%= product.productId %>" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="image-area mt-4 figure-img form-group">
					<img src="/img/<%= product.image %>" class="img-fluid rounded shadow-sm mx-auto d-block"   alt="<%= product.productName %> Image">
					<label class="text-center image-text" for="image"><%= product.productName %></label>
					<br />
					<input class="form-control" type="file" name="image" id="image" value="<%= product.image %>" disabled />
				</div> 
			</div>

			<div class="form-row">

			<div class="form-group col-md-4">
				<label for="productId">Product Id:</label>
				<input class="form-control" type="text" name="productId" id="productId" value="<%= product.productId %>" disabled required />
			</div>

			<div class="form-group col-md-4">
				<label for="productName">Product Name:</label>
				<input class="form-control" type="text" name="productName" id="productName" value="<%= product.productName %>" disabled
					required />
			</div>

			<div class="form-group col-md-4">
				<label for="location">Location:</label>
				<input class="form-control" type="text" name="location" id="location" value="<%= product.location %>" disabled required />
			</div>

			<div class="form-group col-md-4">
				<label for="location">Categories:</label>
				<select id="categories" name="categories" class="form-control" required disabled>
					<option selected><%= product.categories %></option>
					<option>Vehicles</option>
					<option>Property</option>
					<option>Phones & Tablet</option>
					<option>Electronics</option>
					<option>Computers</option>
					<option>Accessories</option>
					<option>Furnitur & Appliance</option>
					<option>Home Equipments</option>
					<option>Building Materials</option>
					<option>Fashion & Beauty</option>
					<option>Health</option>
					<option>Sports, Arts & Outdoors</option>
					<option>Babies & Kids</option>
					<option>Animals & Pets</option>
					<option>Agriculture & Food</option>
					<option>Office Tools</option>
					<option>Others</option>
				</select>
			</div>

			<div class="form-group col-md-4">
				<label for="price">Price:</label>
				<input class="form-control" type="text" name="price" id="price" value="<%= product.price %>" disabled required />
			</div>

			<div class="form-group col-md-4">
				<label for="discount">Discount:</label>
				<input class="form-control" type="number" min="0" max="100" name="discount" id="discount" value="<%= product.discount %>" disabled required />
			</div>

			<div class="form-group col-md-4">
				<label for="userId">User Id:</label>
				<input class="form-control" type="text" name="userId" id="userId" value="<%= product.userId %>" disabled required />
			</div>
			
			<div class="form-group col-md-4">
				<label for="description">Product Description:</label>
				<textarea class="form-control" type="text" name="description" id="description" disabled
					required><%= product.description %> </textarea>
				<!-- <input type="text" name="description" id="description" value="<%= product.description %>" disabled
					required /> -->
			</div>

			<div class="form-group col-md-12">
				<!-- <input type="button" value="submit ->"> -->
				<button class="btn btn-success float-right" type="submit" onclick="getUpdate()" id="getUpdated" style="display: none;">Save Product</button>
			</div>
		</div>
		</form>

		<% } else { %>
		<p class="input">Product Not Found. Go <a href="/product">here</a> to add products.</p>
		<% } %>
	</div>
</div>


<%- include ("partials/footer.ejs") %>